{
  "http_interactions": [
    {
      "recorded_at": "2017-07-05T23:04:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-07-05T23:04:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/praw_test_page?limit=1&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"timestamp\": 1499324392.0, \"reason\": null, \"author\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"verified\": false, \"name\": \"L72_Elite_Kraken\", \"is_friend\": false, \"created\": 1491269510.0, \"has_subscribed\": true, \"hide_from_robots\": false, \"created_utc\": 1491240710.0, \"subreddit\": null, \"comment_karma\": 56, \"is_gold\": false, \"is_mod\": true, \"pref_show_snoovatar\": false, \"link_karma\": 22, \"has_verified_email\": true, \"id\": \"16r83m\"}}, \"page\": \"praw_test_page\", \"id\": \"a7c91112-61d5-11e7-b132-0e715cac0d02\"}], \"after\": \"WikiRevision_a7c91112-61d5-11e7-b132-0e715cac0d02\", \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "598.0",
          "x-ratelimit-reset": "355",
          "x-ratelimit-used": "2",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=%2BCP14W0rTX3j1ZMMG3qMIo0WfZgib5if%2Fkg9rxzQSq55T07pTok7I%2BTlRZ0gWQcrmRC%2BtvnZ3xNweYCIG8dtsogGAYOy5i1I"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/praw_test_page?limit=1&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-07-05T23:04:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/praw_test_page?v=a7c91112-61d5-11e7-b132-0e715cac0d02&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"wikipage\", \"data\": {\"may_revise\": true, \"revision_date\": 1499324392.0, \"content_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md wiki\\\"\\u003E\\u003Cp\\u003EInitial page contents\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"revision_by\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"verified\": false, \"name\": \"L72_Elite_Kraken\", \"is_friend\": false, \"created\": 1491269510.0, \"has_subscribed\": true, \"hide_from_robots\": false, \"created_utc\": 1491240710.0, \"subreddit\": null, \"comment_karma\": 56, \"is_gold\": false, \"is_mod\": true, \"pref_show_snoovatar\": false, \"link_karma\": 22, \"has_verified_email\": true, \"id\": \"16r83m\"}}, \"content_md\": \"Initial page contents\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "597.0",
          "x-ratelimit-reset": "355",
          "x-ratelimit-used": "3",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=ddwuf8KLu835W4vo0wBHSgiOjrQUpElIWd8qQIoRSzvDT4y9fU11hXuhYNehr5nnRWUXfiXoop2JZ7a2HHiW0Ce%2FbEkZsUt8"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/praw_test_page?v=a7c91112-61d5-11e7-b132-0e715cac0d02&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-07-05T23:04:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&content=Initial+page+contents+%7C+a+suffix&page=praw_test_page&previous=a7c91112-61d5-11e7-b132-0e715cac0d02"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "596.0",
          "x-ratelimit-reset": "355",
          "x-ratelimit-used": "4"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}