{
  "http_interactions": [
    {
      "recorded_at": "2017-07-05T23:06:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-07-05T23:06:34",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/praw_test_page?limit=1&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"timestamp\": 1499324779.0, \"reason\": null, \"author\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"verified\": false, \"name\": \"L72_Elite_Kraken\", \"is_friend\": false, \"created\": 1491269510.0, \"has_subscribed\": true, \"hide_from_robots\": false, \"created_utc\": 1491240710.0, \"subreddit\": null, \"comment_karma\": 56, \"is_gold\": false, \"is_mod\": true, \"pref_show_snoovatar\": false, \"link_karma\": 22, \"has_verified_email\": true, \"id\": \"16r83m\"}}, \"page\": \"praw_test_page\", \"id\": \"8e36434a-61d6-11e7-87e9-0e69a50a2aa4\"}], \"after\": \"WikiRevision_8e36434a-61d6-11e7-87e9-0e69a50a2aa4\", \"before\": null}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "591.0",
          "x-ratelimit-reset": "204",
          "x-ratelimit-used": "9",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=%2BDP%2BRMmWDVErZj8wDsxfQcgzrAEZFuqsA3BADtgCVJqBa%2BkrU2MEx0lvQBbRQ5qwe7XonG0LtLScP%2FjRpg1gSV8p2G%2FIj%2Bjr"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/revisions/praw_test_page?limit=1&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-07-05T23:06:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/praw_test_page?v=8e36434a-61d6-11e7-87e9-0e69a50a2aa4&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"wikipage\", \"data\": {\"may_revise\": true, \"revision_date\": 1499324779.0, \"content_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md wiki\\\"\\u003E\\u003Cp\\u003EInitial page contents\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"revision_by\": {\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"verified\": false, \"name\": \"L72_Elite_Kraken\", \"is_friend\": false, \"created\": 1491269510.0, \"has_subscribed\": true, \"hide_from_robots\": false, \"created_utc\": 1491240710.0, \"subreddit\": null, \"comment_karma\": 56, \"is_gold\": false, \"is_mod\": true, \"pref_show_snoovatar\": false, \"link_karma\": 22, \"has_verified_email\": true, \"id\": \"16r83m\"}}, \"content_md\": \"Initial page contents\"}}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "590.0",
          "x-ratelimit-reset": "203",
          "x-ratelimit-used": "10",
          "x-reddit-tracking": "https://pixel.redditmedia.com/pixel/of_destiny.png?v=wiMEikFhxlVNH5goTXYMJGqiz3rVuAEnfmXLEqoJ%2BUOAbABvsfIl4%2FbcSahtEiFSlpok6s59GkahvEDyaXu2mJCZVBEq2JJS"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/wiki/praw_test_page?v=8e36434a-61d6-11e7-87e9-0e69a50a2aa4&raw_json=1"
      }
    },
    {
      "recorded_at": "2017-07-05T23:06:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&content=A+new+body&page=praw_test_page"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "589.0",
          "x-ratelimit-reset": "203",
          "x-ratelimit-used": "11"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      }
    },
    {
      "recorded_at": "2017-07-05T23:06:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&content=Initial+page+contents+%7C+a+suffix&page=praw_test_page&previous=8e36434a-61d6-11e7-87e9-0e69a50a2aa4"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"reason\": \"EDIT_CONFLICT\", \"diffcontent\": \"\\n    \\u003Ctable class=\\\"diff\\\" id=\\\"difflib_chg_to0__top\\\"\\n           cellspacing=\\\"0\\\" cellpadding=\\\"0\\\" rules=\\\"groups\\\" \\u003E\\n        \\u003Ccolgroup\\u003E\\u003C/colgroup\\u003E \\u003Ccolgroup\\u003E\\u003C/colgroup\\u003E \\u003Ccolgroup\\u003E\\u003C/colgroup\\u003E\\n        \\u003Ccolgroup\\u003E\\u003C/colgroup\\u003E \\u003Ccolgroup\\u003E\\u003C/colgroup\\u003E \\u003Ccolgroup\\u003E\\u003C/colgroup\\u003E\\n        \\u003Cthead\\u003E\\u003Ctr\\u003[...]
    {
      "recorded_at": "2017-07-05T23:06:35",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "api_type=json&content=A+new+body+%7C+a+suffix&page=praw_test_page&previous=98ca26fa-61d6-11e7-a02a-0e1ed1930cf4"
        },
        "headers": {
          "Authorization": "bearer <ACCESS_TOKEN>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic",
          "x-ratelimit-remaining": "587.0",
          "x-ratelimit-reset": "203",
          "x-ratelimit-used": "13"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/r/<TEST_SUBREDDIT>/api/wiki/edit/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}